# Ignore Claude local folder
.claude/


# Node Modules
node_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.TemporaryItems
.DocumentRevisions-V100
.fseventsd

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

